In [1]:
import io
import requests
import pandas as pd
import matplotlib.pyplot as plt

# Educação Básica

### Cadastro das Escolas de Educaçăo Básica, com os níveis de ensino oferecidos
### CENSO ESCOLAR DE 2012 -  REGIĂO NORDESTE - ESTADOS DE PERNAMBUCO, ALAGOAS, SERGIPE E BAHIA

http://dados.gov.br/dataset/instituicoes-de-ensino-basico

In [ ]:
url = 'http://repositorio.dados.gov.br/educacao/CADASTRO_MATRICULAS_REGIAO_NORDESTE_PE_AL_SE_BA_2012.csv'

dados_url = requests.get(url).content

In [3]:
edu_basica = pd.read_csv("dados/CADASTRO_MATRICULAS_REGIAO_NORDESTE_PE_AL_SE_BA_2012.csv", 
                  delimiter=';', header=11, encoding="ISO-8859-1", dtype='unicode')
edu_basica.head()

,ANO_CENSO,PK_COD_ENTIDADE,Nome_Escola,REDE,ID_DEPENDENCIA_ADM,Dependencia_Administrativa,CATESCPRIVADA,Localizacao,REGIAO,FK_COD_ESTADO,...,MATEEINCL,NESCEE,MATESPTOT,NESCEDESP,MATESP,NESCEDESPEXCLUS,MATESPEXCLUS,NESCEDESPCLESP,MATESPCLESP,ESCACESS
0,2012,26000016,CENTRO EDUCACIONAL DO ARARIPE,Privada,4,Privada,Particular,Urbana,Nordeste,26,...,1,1,1,0,0,0,0,0,0,1
1,2012,26000024,ESCOLA LUIZ GONZAGA DUARTE,Pública,2,Estadual,NaN,Urbana,Nordeste,26,...,20,1,45,1,25,0,0,1,25,1
2,2012,26000032,CRECHE CORACAO DE MARIA,Pública,3,Municipal,NaN,Urbana,Nordeste,26,...,0,0,0,0,0,0,0,0,0,0
3,2012,26000067,ESCOLA ALEXANDRE GUALTER DE ALENCAR,Pública,3,Municipal,NaN,Rural,Nordeste,26,...,0,0,0,0,0,0,0,0,0,0
4,2012,26000075,ESCOLA ALMEIDA JUNIOR,Pública,3,Municipal,NaN,Rural,Nordeste,26,...,0,0,0,0,0,0,0,0,0,0

In [7]:
edu_basica.columns.values

array(['ANO_CENSO', 'PK_COD_ENTIDADE', 'Nome_Escola', 'REDE',
       'ID_DEPENDENCIA_ADM', 'Dependencia_Administrativa', 'CATESCPRIVADA',
       'Localizacao', 'REGIAO', 'FK_COD_ESTADO', 'UF', 'Municipio',
       'Cod_Municipio', 'PK_COD_MUNICIPIO_OLD', 'NO_DISTRITO', 'Endereco',
       'Nr_Endereco', 'Complemento_Endereco', 'Bairro', 'CEP', 'DDD',
       'Telefone', 'Telefone_Publico_1', 'Fax', 'Correio_Eletronico',
       'Situacao_Funcionamento', 'ID_LATITUDE', 'ID_LONGITUDE',
       'DT_ANO_LETIVO_INICIO', 'DT_ANO_LETIVO_TERMINO', 'FINSLUCRATIVOS',
       'MANT_EMP', 'MANT_SIND', 'MANT_SIST_S', 'MANT_ONG', 'MANT_S_FINS',
       'MOD_ATIV_COMPLEMENTAR', 'ORGCICLOS', 'FUNC_PREDIO_ESCOLAR',
       'FUNC_SALAS_EMPRESA', 'FUNC_PRISIONAL', 'FUNC_TEMPLO_IGREJA',
       'FUNC_CASA_PROFESSOR', 'FUNC_GALPAO', 'FUNC_OUTROS',
       'FUNC_SALAS_OUTRA_ESC', 'NUM_CNPJ_ESCOLA_PRIVADA',
       'NUM_CNPJ_UNIDADE_EXECUTORA', 'DOCUMENTO_REGULAMENTACAO',
       'CONVENIADA_PP', 'TIPO_CONVENIO_PODER_PUBLICO', 'LOCDIFERENCIADA',
       'ACESSIBILIDADE', 'DEPENDENCIAS_PNE', 'SANITARIO_PNE', 'AEE',
       'SALA_DIRETORIA', 'SALA_PROFESSOR', 'SECRETARIA', 'REFEITORIO',
       'DESPENSA', 'ALMOXARIFADO', 'AUDITORIO', 'LABORATORIO_INFORMATICA',
       'LABORATORIO_CIENCIAS', 'SALA_ATENDIMENTO_ESPECIAL',
       'QUADRA_ESPORTES_COBERTA', 'QUADRA_ESPORTES_DESCOBERTA',
       'PATIO_COBERTO', 'PATIO_DESCOBERTO', 'PARQUE_INFANTIL', 'COZINHA',
       'BIBLIOTECA', 'BERCARIO', 'SANITARIO_DENTRO_PREDIO',
       'SANITARIO_FORA_PREDIO', 'SANITARIO_EI', 'BANHEIRO_CHUVEIRO',
       'LAVANDERIA', 'DEPENDENCIAS_OUTRAS', 'NUM_SALAS_EXISTENTES',
       'NUM_SALAS_UTILIZADAS', 'SALA_LEITURA', 'ALOJAM_ALUNO',
       'ALOJAM_PROFESSOR', 'AREA_VERDE', 'NUM_FUNCIONARIOS', 'ALIMENTACAO',
       'AGUA_FILTRADA', 'AGUA_REDE_PUBLICA', 'AGUA_POCO_ARTESIANO',
       'AGUA_CACIMBA', 'AGUA_FONTE_RIO', 'AGUA_INEXISTENTE',
       'ENERGIA_REDE_PUBLICA', 'ENERGIA_GERADOR', 'ENERGIA_OUTROS',
       'ENERGIA_INEXISTENTE', 'ESGOTO_REDE_PUBLICA', 'ESGOTO_FOSSA',
       'ESGOTO_INEXISTENTE', 'LIXO_COLETA_PERIODICA', 'LIXO_QUEIMA',
       'LIXO_JOGA_OUTRA_AREA', 'LIXO_RECICLA', 'LIXO_ENTERRA',
       'LIXO_OUTROS', 'INTERNET', 'BANDA_LARGA', 'COMPUTADORES',
       'NUM_COMPUTADORES', 'COMPUSOALUNOS', 'NUM_COMP_ADMINISTRATIVOS',
       'EQUIP_DVD', 'EQUIP_IMPRESSORA', 'EQUIP_SOM', 'EQUIP_MULTIMIDIA',
       'EQUIP_FAX', 'EQUIP_FOTO', 'EQUIP_PARABOLICA', 'EQUIP_COPIADORA',
       'EQUIP_RETRO', 'EQUIP_TV', 'EQUIP_VIDEOCASSETE',
       'MATERIAL_ESP_NAO_UTILIZA', 'MATERIAL_ESP_QUILOMBOLA',
       'MATERIAL_ESP_INDIGENA', 'EDUCACAO_INDIGENA', 'LINGUA_INDIGENA',
       'LINGUA_PORTUGUESA', 'ESPACO_TURMA_PBA', 'ABRE_FINAL_SEMANA',
       'MOD_ENS_REGULAR', 'MOD_EDUC_ESPECIAL', 'MOD_EJA', 'NESCEDBASICA',
       'MATTOTAL', 'NESCEIR', 'MATEI', 'NESCCRECHER', 'MATCRECHE',
       'NESCPPRER', 'MATPRE', 'NESCEFR', 'MATEF', 'MATEFI', 'MATEF1',
       'MATEF2', 'MATEF3', 'MATEF4', 'MATEF5', 'MATEF6', 'MATEF7',
       'MATEF8', 'NESCEF14AIR', 'MATEF14AI', 'NESCEF58AFR', 'MATEF58AF',
       'NESCEFS', 'MATS', 'MAT1S', 'MAT2S', 'MAT3S', 'MAT4S', 'MAT5S',
       'MAT6S', 'MAT7S', 'MAT8S', 'NESCEFA', 'MATA', 'MAT1A', 'MAT2A',
       'MAT3A', 'MAT4A', 'MAT5A', 'MAT6A', 'MAT7A', 'MAT8A', 'MAT9A',
       'NESCEMR', 'MATEM', 'MATEM1', 'MATEM2', 'MATEM3', 'MATEM4',
       'MATEMNS', 'NESCEMEM', 'MATEM_EM', 'MATEM1_EM', 'MATEM2_EM',
       'MATEM3_EM', 'MATEM4_EM', 'MATEMNS_EM', 'NESCEMI', 'MATEM_I',
       'MATEM1_I', 'MATEM2_I', 'MATEM3_I', 'MATEM4_I', 'MATEMNS_I',
       'NESCEMN', 'MATEM_N', 'MATEM1_N', 'MATEM2_N', 'MATEM3_N',
       'MATEM4_N', 'NESCEPR', 'MATEP', 'NESCEPCONC', 'MATEPCONC',
       'NESCEPSUBSEQ', 'MATEPSUBSEQ', 'NESCEJAR', 'MATEJA', 'NESCEJAEF',
       'MATEJAEF', 'NESCEJAEM', 'MATEJAEM', 'NESCEJAPR', 'MATEJAP',
       'NESCEJAPEF', 'MATEJAPEF', 'MATEJAP14', 'MATEJAP58', 'MATEJAPPJ',
       'NESCEJAPEM', 'MATEJAPEM', 'NESCEJASPR', 'MATEJASP', 'NESCEJASPEF',
       'MATEJASPEF', 'MATEJASP14', 'MATEJASP58', 'NESCEJASPEM',
       'MATEJASPEM', 'NESCEJAEPEFR', 'MATEJAEPEF', 'NESCEJAEPNMR',
       'MATEJAEPNM', 'NESCEJASPEPEFR', 'MATEJASPEPEF', 'NESCEJASPEPNMR',
       'MATEJASPEPNM', 'NESCEEINCL', 'MATEEINCL', 'NESCEE', 'MATESPTOT',
       'NESCEDESP', 'MATESP', 'NESCEDESPEXCLUS', 'MATESPEXCLUS',
       'NESCEDESPCLESP', 'MATESPCLESP', 'ESCACESS'], dtype=object)

## Como se distribui a quantidade de escolas da rede pública e privada nos estados de Alagoas, Bahia, Pernambuco e Sergipe?

In [38]:
edu_basica.groupby(['REDE', 'UF']).size().reset_index(name='Quantidade').sort_values('UF')

      REDE          UF  Quantidade
0  Privada     Alagoas         583
4  Pública     Alagoas        3217
1  Privada       Bahia        2848
5  Pública       Bahia       22921
2  Privada  Pernambuco        3247
6  Pública  Pernambuco        9507
3  Privada     Sergipe         486
7  Pública     Sergipe        2426

## E olhando a dependencia administrativa?

In [41]:

edu_basica.groupby(['REDE', 'UF', 'Dependencia_Administrativa']).size().reset_index(name='Quantidade').sort_values('UF')

       REDE          UF Dependencia_Administrativa  Quantidade
0   Privada     Alagoas                    Privada         583
4   Pública     Alagoas                   Estadual         334
5   Pública     Alagoas                    Federal          12
6   Pública     Alagoas                  Municipal        2871
1   Privada       Bahia                    Privada        2848
7   Pública       Bahia                   Estadual        1490
8   Pública       Bahia                    Federal          29
9   Pública       Bahia                  Municipal       21402
2   Privada  Pernambuco                    Privada        3247
10  Pública  Pernambuco                   Estadual        1117
11  Pública  Pernambuco                    Federal          17
12  Pública  Pernambuco                  Municipal        8373
3   Privada     Sergipe                    Privada         486
13  Pública     Sergipe                   Estadual         406
14  Pública     Sergipe                    Federal           7
15  Pública     Sergipe                  Municipal        2013

## E por localização?

In [44]:
edu_basica.groupby(['REDE', 
                    'UF', 
                    'Dependencia_Administrativa', 
                    'Localizacao']).size().reset_index(name='Quantidade').sort_values('UF')

       REDE          UF Dependencia_Administrativa Localizacao  Quantidade
0   Privada     Alagoas                    Privada       Rural          34
1   Privada     Alagoas                    Privada      Urbana         549
12  Pública     Alagoas                  Municipal      Urbana         831
8   Pública     Alagoas                   Estadual       Rural          41
9   Pública     Alagoas                   Estadual      Urbana         293
10  Pública     Alagoas                    Federal      Urbana          12
11  Pública     Alagoas                  Municipal       Rural        2040
18  Pública       Bahia                  Municipal      Urbana        5038
17  Pública       Bahia                  Municipal       Rural       16364
16  Pública       Bahia                    Federal      Urbana          25
14  Pública       Bahia                   Estadual      Urbana        1350
13  Pública       Bahia                   Estadual       Rural         140
15  Pública       Bahia                    Federal       Rural           4
3   Privada       Bahia                    Privada      Urbana        2762
2   Privada       Bahia                    Privada       Rural          86
21  Pública  Pernambuco                    Federal       Rural           5
5   Privada  Pernambuco                    Privada      Urbana        3178
4   Privada  Pernambuco                    Privada       Rural          69
19  Pública  Pernambuco                   Estadual       Rural         203
20  Pública  Pernambuco                   Estadual      Urbana         914
22  Pública  Pernambuco                    Federal      Urbana          12
23  Pública  Pernambuco                  Municipal       Rural        6375
24  Pública  Pernambuco                  Municipal      Urbana        1998
28  Pública     Sergipe                    Federal      Urbana           4
27  Pública     Sergipe                    Federal       Rural           3
26  Pública     Sergipe                   Estadual      Urbana         326
6   Privada     Sergipe                    Privada       Rural          15
7   Privada     Sergipe                    Privada      Urbana         471
29  Pública     Sergipe                  Municipal       Rural        1528
25  Pública     Sergipe                   Estadual       Rural          80
30  Pública     Sergipe                  Municipal      Urbana         485

## Quantas tem laboratório de Ciência e Informática?

In [49]:
edu_basica.groupby([
                    'UF', 
                    'LABORATORIO_INFORMATICA']).size().reset_index(name='Quantidade').sort_values('UF')

           UF LABORATORIO_INFORMATICA  Quantidade
0     Alagoas                     Não        2463
1     Alagoas                     Sim        1337
2       Bahia                     Não       19583
3       Bahia                     Sim        6186
4  Pernambuco                     Não        9261
5  Pernambuco                     Sim        3493
6     Sergipe                     Não        2063
7     Sergipe                     Sim         849

In [50]:
edu_basica.groupby([ 
                    'UF',
                    'LABORATORIO_CIENCIAS']).size().reset_index(name='Quantidade').sort_values('UF')

           UF LABORATORIO_CIENCIAS  Quantidade
0     Alagoas                  Não        3589
1     Alagoas                  Sim         211
2       Bahia                  Não       24898
3       Bahia                  Sim         871
4  Pernambuco                  Não       12043
5  Pernambuco                  Sim         711
6     Sergipe                  Não        2789
7     Sergipe                  Sim         123

## Quantas tem estrutura com Acessibilidade?

In [46]:
edu_basica.groupby(['UF', 
                    'ACESSIBILIDADE']).size().reset_index(name='Quantidade').sort_values('UF')

           UF ACESSIBILIDADE  Quantidade
0     Alagoas            Não        3041
1     Alagoas            Sim         759
2       Bahia            Não       22246
3       Bahia            Sim        3523
4  Pernambuco            Não       10207
5  Pernambuco            Sim        2547
6     Sergipe            Não        2241
7     Sergipe            Sim         671

## Quantas tem sanitário dentro do prédio?

In [52]:
edu_basica.groupby(['UF', 
                    'SANITARIO_DENTRO_PREDIO']).size().reset_index(name='Quantidade').sort_values('UF')

           UF SANITARIO_DENTRO_PREDIO  Quantidade
0     Alagoas                     Não         662
1     Alagoas                     Sim        3138
2       Bahia                     Não        9034
3       Bahia                     Sim       16735
4  Pernambuco                     Não        3799
5  Pernambuco                     Sim        8955
6     Sergipe                     Não        1082
7     Sergipe                     Sim        1830

- Água ?
- Esgoto ?
- Número de Computadores?
- MATERIAL_ESP_QUILOMBOLA ?
- MATERIAL_ESP_INDIGENA ?

### Quantas tem MATERIAL_ESP_QUILOMBOLA ?

In [4]:
edu_basica.groupby(['UF', 
                    'MATERIAL_ESP_QUILOMBOLA']).size().reset_index(name='Quantidade').sort_values('UF')

           UF MATERIAL_ESP_QUILOMBOLA  Quantidade
0     Alagoas                     Não        3319
1     Alagoas                     Sim          19
2       Bahia                     Não       20341
3       Bahia                     Sim         281
4  Pernambuco                     Não        9974
5  Pernambuco                     Sim         141
6     Sergipe                     Não        2282
7     Sergipe                     Sim          25

### Quantas tem MATERIAL_ESP_INDIGENA ?

In [5]:
edu_basica.groupby(['UF', 
                    'MATERIAL_ESP_INDIGENA']).size().reset_index(name='Quantidade').sort_values('UF')

           UF MATERIAL_ESP_INDIGENA  Quantidade
0     Alagoas                   Não        3323
1     Alagoas                   Sim          15
2       Bahia                   Não       20548
3       Bahia                   Sim          74
4  Pernambuco                   Não        9956
5  Pernambuco                   Sim         159
6     Sergipe                   Não        2301
7     Sergipe                   Sim           6

### Verificando 'AGUA_FILTRADA', 'AGUA_REDE_PUBLICA', 'AGUA_POCO_ARTESIANO','AGUA_CACIMBA', 'AGUA_FONTE_RIO', 'AGUA_INEXISTENTE',

In [9]:
edu_basica.groupby(['UF', 
                    'AGUA_INEXISTENTE']).size().reset_index(name='Quantidade').sort_values('UF')

           UF AGUA_INEXISTENTE  Quantidade
0     Alagoas              Não        3283
1     Alagoas              Sim          55
2       Bahia              Não       19490
3       Bahia              Sim        1132
4  Pernambuco              Não        8491
5  Pernambuco              Sim        1624
6     Sergipe              Não        2303
7     Sergipe              Sim           4

# EDUCAÇĂO SUPERIOR
### Relaçăo das Instituiçőes de Educaçăo Superior do Brasil 
### Censo de 2011

http://dados.gov.br/dataset/instituicoes-de-ensino-superior/resource/20bf16da-6a37-4e3a-9e6a-cfe335641d4d

In [11]:
url_2 = 'http://repositorio.dados.gov.br/educacao/CADASTRO%20DAS%20IES_2011.csv'
dados_url_2 = requests.get(url).content
ies = pd.read_csv(, delimiter=';', header=10, encoding = "ISO-8859-1")

In [21]:
ies = pd.read_csv(url_2, delimiter=';', header=10, encoding = "ISO-8859-1")
ies.head()

,CO_ANO,CO_IES,NO_IES,SG_IES,NU_CNPJ,REGIES,REGIAOIES,COUFIES,NOMEUFIES,SIGLA,...,NO_BAIRRO,NU_TELEFONE,NU_FAX,TX_EMAIL,TX_PAGINA_ELETRONICA,NO_PROCURADOR_INSTITUCIONAL,NU_CPF_PROCURADOR,NU_TELEFONE_PROCURADOR,TX_EMAIL_PROCURADOR,NIES
0,2011,1.0,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,3.300454e+13,5.0,Centro_Oeste,51.0,MATO GROSSO,MT,...,Boa Esperança,(65) 3615 8302,NaN,ufmt@ufmt.br,www.ufmt.br,MARIA SALETI FERRAZ DIAS FERREIRA,4.077210e+09,(65)36158200,saletif@gmail.com.br; saleti@ufmt.br; josiane@...,1.0
1,2011,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,3.817400e+10,5.0,Centro_Oeste,53.0,DISTRITO FEDERAL,DF,...,Asa Norte,(61) 3307-1750/2600,NaN,unb@unb.br,http://www.unb.br,PAULO EDUARDO NUNES DE MOURA ROCHA,3.767993e+10,61 33072207,paulorocha@unb.br,1.0
2,2011,3.0,UNIVERSIDADE FEDERAL DE SERGIPE,UFS,1.303155e+13,2.0,Nordeste,28.0,SERGIPE,SE,...,Jardim Rosa Elze,(79) 2105-6408,(79) 2105-6474,gabinete@ufs.br,www.ufs.br,ANGELA MARIA CARVALHO SOUZA,3.843460e+09,(79)21056515,angela@ufs.br,1.0
3,2011,4.0,UNIVERSIDADE FEDERAL DO AMAZONAS,UFAM,4.378626e+12,1.0,Norte,13.0,AMAZONAS,AM,...,Coroado II,(92) 3305-4513,(92) 3305-4532,gabinete@ufam.edu.br,www.ufam.edu.br,SIGRID INHAMUNS PINHEIRO,2.145104e+10,(92)3305-4615,proplan_dpi@ufam.edu.br,1.0
4,2011,5.0,UNIVERSIDADE FEDERAL DO PIAUÍ,UFPI,6.517387e+12,2.0,Nordeste,22.0,PIAUÍ,PI,...,Ininga,(86) 3215 5620; (86) 3215 5621; (86) 3215 1104,(86) 3215 5880; (86)3215 1104,diretoria.avaliacao@ufpi.edu.br;adm.sup@ufpi.e...,http://www.ufpi.br,TERESA CHRISTINA TORRES SILVA HONÓRIO,1.510211e+10,86 32151104,teresaufpi@hotmail.com;pi.ufpi@ufpi.edu.br,1.0

In [53]:
ies.columns.values

array(['CO_ANO', 'CO_IES', 'NO_IES', 'SG_IES', 'NU_CNPJ', 'REGIES',
       'REGIAOIES', 'COUFIES', 'NOMEUFIES', 'SIGLA', 'MUNICIPIOIES',
       'COMUNICIES', 'COMUNICIES12', 'LOCIES', 'LOCALIES', 'ORG',
       'NOMEORG', 'COREDE', 'REDE', 'CO_DEP', 'DEPADM', 'DEP5', 'DEPADM5',
       'MANT', 'MANTENEDORA', 'NU_CEP', 'DS_ENDERECO',
       'DS_NUMERO_ENDERECO', 'DS_COMPLEMENTO_ENDERECO', 'NO_BAIRRO',
       'NU_TELEFONE', 'NU_FAX', 'TX_EMAIL', 'TX_PAGINA_ELETRONICA',
       'NO_PROCURADOR_INSTITUCIONAL', 'NU_CPF_PROCURADOR',
       'NU_TELEFONE_PROCURADOR', 'TX_EMAIL_PROCURADOR', 'NIES'], dtype=object)

## Quantidade de IES por Região?

In [58]:
ies.groupby(['REGIAOIES']).size().reset_index(name='Quantidade').sort_values('Quantidade')

      REGIAOIES  Quantidade
2         Norte         152
0  Centro_Oeste         235
4           Sul         389
1      Nordeste         432
3       Sudeste        1157

## Quantidade de IES por Estado?

In [57]:
ies.groupby(['NOMEUFIES',
            ]).size().reset_index(name='Quantidade').sort_values('Quantidade')

              NOMEUFIES  Quantidade
22              RORAIMA           7
0                  ACRE          11
24              SERGIPE          14
2                 AMAPÁ          16
3              AMAZONAS          19
19  RIO GRANDE DO NORTE          25
1               ALAGOAS          26
9              MARANHÃO          30
21             RONDÔNIA          32
15                 PARÁ          33
26            TOCANTINS          34
11   MATO GROSSO DO SUL          37
17                PIAUÍ          37
14              PARAÍBA          38
5                 CEARÁ          53
10          MATO GROSSO          57
6      DISTRITO FEDERAL          59
8                 GOIÁS          82
7        ESPÍRITO SANTO          88
23       SANTA CATARINA          93
16           PERNAMBUCO          94
20    RIO GRANDE DO SUL         111
4                 BAHIA         115
18       RIO DE JANEIRO         137
13               PARANÁ         185
12         MINAS GERAIS         355
25            SÃO PAULO         577

## Quantidade por Região e Administração considerando apenas a Rede Pública?

In [72]:
ies.loc[ies['REDE'] == 'Pública'].groupby(['REGIAOIES', 'REDE',
              'DEPADM']).size().reset_index(name='Quantidade').sort_values(['Quantidade'], ascending=False)

       REGIAOIES     REDE     DEPADM  Quantidade
9        Sudeste  Pública   Estadual          71
10       Sudeste  Pública    Federal          34
11       Sudeste  Pública  Municipal          29
4       Nordeste  Pública    Federal          26
5       Nordeste  Pública  Municipal          22
13           Sul  Pública    Federal          17
7          Norte  Pública    Federal          16
3       Nordeste  Pública   Estadual          15
12           Sul  Pública   Estadual          15
1   Centro_Oeste  Pública    Federal          10
14           Sul  Pública  Municipal          10
8          Norte  Pública  Municipal           6
6          Norte  Pública   Estadual           5
0   Centro_Oeste  Pública   Estadual           4
2   Centro_Oeste  Pública  Municipal           4